<table class='table'>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '100x100' %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.follower.count %> </td>
        <td>フォロワー数：<%= user.followed.count %></td>
        <td>
        <% if current_user.following?(user) %>
            <%= link_to unfollow_path(user), method: :post do %>
     　　     フォローを外す
            <% end %>
        <% else %>
            <%= link_to follow_path(user), method: :post do %>
            フォローする
            <% end %>
        <% end %>
        </td>
        
        <td><%= link_to 'Show', user_path(user.id), class: "user_#{user.id}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>