<%= flash[:notice]%>

 <% if @user.errors.any? %>
 <div class="error-message">
  <h3><%= @user.errors.count %>errors prohibited this book from being saved:</h3>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div class="container">
 <div class="row">
  <div class="col-sm-12.col-md-8.col-lg-5.px-sm-0.mx-auto">
   <h2>User info</h2>
   <%= form_with model: @user do |f| %>

    <label for="inputName">Name</label><br>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
    <br>
    <label for="inputImage">ProfileImage</label><br>
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
    <br>
    <label for="inputIntroduction">自己紹介文</label><br>
    <%= f.text_field :introduction, id:"inputIntroduction" %>
    <br>
    <%= f.submit "Update User", class:'updatebutton' %>
  <% end %>
  </div>
 </div>
</div>