<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>

<h1>Books</h1>

<table>
  <tr>
   <th>本のタイトル</th>
   <th>感想</th>
   <th></th>
  </tr>

  <% @books.each do |book| %>
  <tr>
    <td> <%=book.title %> </td>
    <td> <%=book.body %> </td>
  </tr>
  <% end %>
</table>