
<table>
  <tr><th><%= image_tag user.get_profile_image(100,100) %></th></tr>
  <tr><th>name:<%= user.name %></th></tr>
  <tr><th>Introduction:<%= user.introduction %></th></tr>
  <tr><th>
   <%= link_to edit_user_path(user) do %>
     <i class="fa-solid fa-user-gear"></i>
     <% end %></th></tr>
</table>


   <h4>New book</h4>
   <%= form_with model: @book, url: '/books', method: :post do |f| %>
   <div>
   <%= f.label :title, style:"font-size: 15px;" %><br>
   <%= f.text_field :title, value: '' %>
   </div>
   <div>
   <%= f.label :opinion, style:"font-size: 15px;" %><br>
   <%= f.text_area :body, value: '' %>
   </div>
   <%= f.submit 'Create Book', style:"width: 150px; height: 40px; padding: 1px 6px; border: 1px solid black; border-radius: 3px;" %>
   <% end %>