<%= flash[:notice]%>

<div class="container">
 <div class="row">
   <div class="col-md-3">
    <%= render 'list', user: @user %>
   </div>


  <div class="col-md-8 offset-md-1">
   <p>Book detail</p>
   <table class='table'>
     <tr>
       <td><%= link_to user_path(@book.user.id) do %>
           <%= image_tag @book.user.get_profile_image(100,100) %><br>
           <%= @book.user.name%>
           <% end %></td>
       <td><%= link_to @book.title, @book %></td>
       <td><%= @book.body %></td>
       <td>
      <% if @book.favorited_by?(current_user) %>
         <%= link_to book_favorite_path(@book), method: :delete do %>
          ♥<%= @book.favorites.count %>
         <% end %>
      <% else %>
        <%= link_to book_favorite_path(@book), method: :post do %>
         ♡<%= @book.favorites.count %> 
        <% end %>
       </td>
      <% end %>
       <td>コメント数：<%= @book.book_comments.count %></td>
     <% if @book.user == current_user %>
       <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
       <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
     <% end %>
     </tr>
   </table>
   
   <table class='table'>
    <%= render 'book_comments/book_comment', book: @book %>
   </table>
   <div>
     <%= form_with model: [@book, @book_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', value: "", placeholder: "コメントをここに" %>
      <%= f.submit "送信" %>
     <% end %>
   </div>

  </div>
 </div>
</div>
