<%= render 'list', user: @user %>

<p>Book detail</p>

<p>
  <%= link_to user_path(@user.id) do %>
  <%= image_tag @book.user.get_profile_image(100,100) %><br>
  <%= @user.name%>
  <% end %>
</p>

<p><%= @book.title %></p>

<p><%= @book.body %></p>


<% if @book.user == current_user %>
<%= link_to "Edit", edit_book_path(@book.id), class:"black_link" %>
|
<%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消して大丈夫ですか?" %>
<% end %>