<%= render 'list', user: @user %>

<p><%= image_tag @book.user.get_profile_image(100,100) %></p>

<p>本のタイトル:<%= @book.title %></p>

<p>感想:<%= @book.body %></p>


<% if @book.user == current_user %>
<%= link_to "Edit", edit_book_path(@book.id), class:"black_link" %>
|
<%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消して大丈夫ですか?" %>
<% end %>