<div class="container">
  <div class="left-button">
    <%= link_to "ユーザー一覧に戻る", users_path, class:"btn btn-info" %>
  </div>

  <% @entries.each do |e| %>
    <% unless e.user == current_user %>
    <div>
     <strong>
      <%= image_tag e.user.get_profile_image, size:'100x100' %>
      <a class="rooms-user-link" href="/users/<%= e.user.id %>">
        <%= e.user.name %>さん
      </a>
     </strong>
    </div>
    <% end %>
  <% end %>

<hr>
  <div class="chats">
     <% if @messages.present? %>
    　　 <% @messages.each do |m| %>
       <p><%= m.message %></p>
       <% end %>
     <% end %>
  </div>

    <div class="errors">
      <%= render "layouts/errors", obj: @message %>
    </div>

    <div class="posts">
      <%= form_with model: @message do |f| %>
        <%= f.text_field :message, placeholder: "140字以内でメッセージを入力してください", size: 70, class: "form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <%= f.submit "投稿", class: "form-submit" %>
      <% end %>
    </div>
  </div>
</div>